In [2]:
## Import Libraries

import pandas as pd
import numpy as np
from nltk.stem import PorterStemmer
stemmer=PorterStemmer()

from nltk.tokenize import word_tokenize

import re
import nltk
from nltk.corpus import stopwords
nltk.download('punkt')


nltk.download('stopwords')
stop_words = set(stopwords.words('english')) 


from google.colab import files
uploaded = files.upload()

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

Saving train.csv to train.csv

In [3]:
##Read our file
df= pd.read_csv('train.csv')

In [4]:
## Let's see what the data looks like.
df.head(50)

    id keyword  ...                                               text target
0    1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1    4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2    5     NaN  ...  All residents asked to 'shelter in place' are ...      1
3    6     NaN  ...  13,000 people receive #wildfires evacuation or...      1
4    7     NaN  ...  Just got sent this photo from Ruby #Alaska as ...      1
5    8     NaN  ...  #RockyFire Update => California Hwy. 20 closed...      1
6   10     NaN  ...  #flood #disaster Heavy rain causes flash flood...      1
7   13     NaN  ...  I'm on top of the hill and I can see a fire in...      1
8   14     NaN  ...  There's an emergency evacuation happening now ...      1
9   15     NaN  ...  I'm afraid that the tornado is coming to our a...      1
10  16     NaN  ...        Three people died from the heat wave so far      1
11  17     NaN  ...  Haha South Tampa is getting flooded hah- WAIT ...      1
12  18     NaN  ...  #raining #flooding #Florida #TampaBay #Tampa 1...      1
13  19     NaN  ...            #Flood in Bago Myanmar #We arrived Bago      1
14  20     NaN  ...  Damage to school bus on 80 in multi car crash ...      1
15  23     NaN  ...                                     What's up man?      0
16  24     NaN  ...                                      I love fruits      0
17  25     NaN  ...                                   Summer is lovely      0
18  26     NaN  ...                                  My car is so fast      0
19  28     NaN  ...                       What a goooooooaaaaaal!!!!!!      0
20  31     NaN  ...                             this is ridiculous....      0
21  32     NaN  ...                                  London is cool ;)      0
22  33     NaN  ...                                        Love skiing      0
23  34     NaN  ...                              What a wonderful day!      0
24  36     NaN  ...                                           LOOOOOOL      0
25  37     NaN  ...                     No way...I can't eat that shit      0
26  38     NaN  ...                              Was in NYC last week!      0
27  39     NaN  ...                                 Love my girlfriend      0
28  40     NaN  ...                                          Cooool :)      0
29  41     NaN  ...                                 Do you like pasta?      0
30  44     NaN  ...                                           The end!      0
31  48  ablaze  ...  @bbcmtd Wholesale Markets ablaze http://t.co/l...      1
32  49  ablaze  ...  We always try to bring the heavy. #metal #RT h...      0
33  50  ablaze  ...  #AFRICANBAZE: Breaking news:Nigeria flag set a...      1
34  52  ablaze  ...                 Crying out for more! Set me ablaze      0
35  53  ablaze  ...  On plus side LOOK AT THE SKY LAST NIGHT IT WAS...      0
36  54  ablaze  ...  @PhDSquares #mufc they've built so much hype a...      0
37  55  ablaze  ...  INEC Office in Abia Set Ablaze - http://t.co/3...      1
38  56  ablaze  ...  Barbados #Bridgetown JAMAICA ÛÒ Two cars set ...      1
39  57  ablaze  ...                             Ablaze for you Lord :D      0
40  59  ablaze  ...  Check these out: http://t.co/rOI2NSmEJJ http:/...      0
41  61  ablaze  ...  on the outside you're ablaze and alive\nbut yo...      0
42  62  ablaze  ...  Had an awesome time visiting the CFC head offi...      0
43  63  ablaze  ...       SOOOO PUMPED FOR ABLAZE ???? @southridgelife      0
44  64  ablaze  ...  I wanted to set Chicago ablaze with my preachi...      0
45  65  ablaze  ...  I gained 3 followers in the last week. You? Kn...      0
46  66  ablaze  ...  How the West was burned: Thousands of wildfire...      1
47  67  ablaze  ...  Building the perfect tracklist to life leave t...      0
48  68  ablaze  ...  Check these out: http://t.co/rOI2NSmEJJ http:/...      0
49  71  ablaze  ...  First night with retainers in. It's quite weir...      0

[50 rows x 5 columns]

In [5]:
##Let's explore whether we have a lot of missing values
df.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [6]:
## We will fill the missing values of the column 'keyword'
df['keyword'] = df['keyword'].fillna('missing').values

## We will merge the two columns of 'text' and 'keyword' so as to gain more insights
df['text'] = df[['keyword','text']].apply(lambda x :' '.join(x.astype(str)),1)

In [7]:
## PREPROCESSING PART 1##

## First, Let's replace some short forms with the proper forms of modal verbs and verb 'be'
def modal_verbs(tweet):
    tweet = tweet.replace(" dont ", " do not ")
    tweet = tweet.replace(" don't ", " do not ")
    tweet = tweet.replace(" doesnt ", " does not ")
    tweet = tweet.replace(" doesn't ", " does not ")
    tweet = tweet.replace(" wont ", " will not ")
    tweet = tweet.replace(" won't ", " will not ")
    tweet = tweet.replace(" cant ", " cannot ")
    tweet = tweet.replace(" can't ", " cannot ")
    tweet = tweet.replace(" couldnt ", " could not ")
    tweet = tweet.replace(" couldn't ", " could not ")
    tweet = tweet.replace(" shouldnt ", " should not ")
    tweet = tweet.replace(" shouldn't ", " should not ")
    tweet = tweet.replace(" wouldnt ", " would not ")
    tweet = tweet.replace(" wouldn't ", " would not ")
    tweet = tweet.replace(" mustnt ", " must not ")
    tweet = tweet.replace(" mustn't ", " must not ")
    
    return tweet


df['text']= df['text'].apply(modal_verbs)

def short_to_long_forms(tweet):
    tweet = tweet.replace(" im ", " i am ")
    tweet = tweet.replace(" youre ", " you are")
    tweet = tweet.replace(" hes ", " he is") 
    tweet = tweet.replace(" shes ", " she is")
    
    tweet = tweet.replace(" theyre ", " they are")
    
    tweet = tweet.replace(" ive ", " i have ")
    tweet = tweet.replace(" youve ", " you have ")
    tweet = tweet.replace(" weve ", " we have ")
    tweet = tweet.replace(" theyve ", " they have ")
    
    tweet = tweet.replace(" youll ", " you will ")
    tweet = tweet.replace(" theyll ", " they will ")
    
    return tweet


df['text']=df['text'].apply(short_to_long_forms)

In [8]:
## PREPROCESSING  PART 2 ##


### Preprocessing of data
## Removal of punctuations and symbols using a custom list of symbols and puctuations

def clean_text(x):
    puncts = [',','.', '<' '"', ':', ')',';','?', '(', '-', '|', "'", '$', '&', '/', '[', ']', '>', '%', '=',
              '*', '+', '\\', '•', '~', '£',
              '·', '_', '{', '}', '©', '^', '®', '`', '<', '→', '°', '€', '™', '›', '♥', '←', '×', '§', '″', '′', 'Â',
              '█', '½', 'à', '…','<<','<',
              '“', '★', '”', '–', '●', 'â', '►', '−', '¢', '²', '¬', '░', '¶', '↑', '±', '¿', '▾', '═', '¦', '║', '―',
              '¥', '▓', '—', '‹', '─',
              '▒', '：', '¼', '⊕', '▼', '▪', '†', '■', '’', '▀', '¨', '▄', '♫', '☆', 'é', '¯', '♦', '¤', '▲', 'è', '¸',
              '¾', 'Ã', '⋅', '‘', '∞',
              '∙', '）', '↓', '、', '│', '（', '»', '，', '♪', '╩', '╚', '³', '・', '╦', '╣', '╔', '╗', '▬', 'ï', 'Ø',
              '¹', '≤', '‡', '√' , '❤','#']

    x = str(x)
    for punct in puncts:
        x = x.replace(punct, '')
        final =str(x)
        

    return final


df['text']=df['text'].apply(clean_text)


## Remove name mentions
def remove_names(x):
    for word in x.split():
        if word[0] == "@":
            x = x.replace(word, "")
    return x

df['text']=df['text'].apply(remove_names)


def preprocess (text):
    # remove whitespace
    text =text.str.replace(r'^\s+|\s+?$','')
    text = text.replace('<[^>]*>', '' )
    #remove links
    text = text.replace(r'(https|http)?:\/\/(\w|\.|\/|\?|\=|\&|\%)*\b', '')
    #remove mulpiple spaces 
    text = text.replace(r'\s+', ' ')
    #tokenize  and lowercase text.
    tokenized_tweet = text.apply(lambda x: x.split())
    ## also remove stopwords
    tokenized_tweet=  tokenized_tweet.apply(lambda x: [item for item in x  if item not in stop_words])
   
    
    for i in range(len(tokenized_tweet)):
        tokenized_tweet[i] = ' '.join(tokenized_tweet[i])
        tweets_p= tokenized_tweet
    
    return tweets_p
    
    
text=df['text']
df['text']=  preprocess(text)

In [9]:
## Let's have a quick look 

df['text'].head(40)

0     missing Our Deeds Reason earthquake May ALLAH ...
1         missing Forest fire near La Ronge Sask Canada
2     missing All residents asked shelter place noti...
3     missing 13000 people receive wildfires evacuat...
4     missing Just got sent photo Ruby Alaska smoke ...
5     missing RockyFire Update California Hwy 20 clo...
6     missing flood disaster Heavy rain causes flash...
7                  missing Im top hill I see fire woods
8     missing Theres emergency evacuation happening ...
9                 missing Im afraid tornado coming area
10              missing Three people died heat wave far
11    missing Haha South Tampa getting flooded hah W...
12    missing raining flooding Florida TampaBay Tamp...
13           missing Flood Bago Myanmar We arrived Bago
14    missing Damage school bus 80 multi car crash B...
15                                    missing Whats man
16                                missing I love fruits
17                                missing Summer lovely
18                                  missing My car fast
19                   missing What goooooooaaaaaal!!!!!!
20                                   missing ridiculous
21                                  missing London cool
22                                  missing Love skiing
23                          missing What wonderful day!
24                                     missing LOOOOOOL
25                      missing No wayI cannot eat shit
26                           missing Was NYC last week!
27                              missing Love girlfriend
28                                       missing Cooool
29                                missing Do like pasta
30                                     missing The end!
31    ablaze Wholesale Markets ablaze httptcolHYXEOHY6C
32    ablaze We always try bring heavy metal RT http...
33    ablaze AFRICANBAZE Breaking newsNigeria flag s...
34                       ablaze Crying more! Set ablaze
35    ablaze On plus side LOOK AT THE SKY LAST NIGHT...
36    ablaze mufc theyve built much hype around new ...
37    ablaze INEC Office Abia Set Ablaze httptco3Ima...
38    ablaze Barbados Bridgetown JAMAICA ÛÒ Two car...
39                                 ablaze Ablaze Lord D
Name: text, dtype: object

In [10]:
def tokenizer_porter(text):
    return ' '.join( [stemmer.stem(word) for word in text.split()])


df['text']=df['text'].apply(tokenizer_porter)

In [11]:
## We will vectorize the text using the Tfidf vectorizer
## We will also use word bigrams and unigrams

from sklearn.feature_extraction.text import TfidfVectorizer
tf_idf = TfidfVectorizer(analyzer= 'word', ngram_range=(1, 2), min_df=5, lowercase=False, preprocessor=None)

In [12]:
## Split the dataset into train and test

from sklearn.model_selection import train_test_split
X, y = df['text'], df['target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
X_train=tf_idf.fit_transform(X_train)
X_test= tf_idf.transform(X_test)

In [14]:
## The first model will be Logistic Regression

from sklearn.linear_model import LogisticRegression
model = LogisticRegression(C = 1.0, penalty='l2', random_state=0, verbose=1).fit(X_train,y_train)
y_preds = model.predict(X_test)
# y_preds
from sklearn.metrics import classification_report
report = classification_report(y_test, y_preds )
print(report)

              precision    recall  f1-score   support

           0       0.80      0.87      0.83       874
           1       0.80      0.71      0.75       649

    accuracy                           0.80      1523
   macro avg       0.80      0.79      0.79      1523
weighted avg       0.80      0.80      0.80      1523

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.1s finished

In [16]:
## Let's make some predictions on new data

sentences= ['People started asking for shelter after the hurricane', 'The floods have caused major damage to the surrounding area' ]
sentences = tf_idf.transform(sentences)
model.predict(sentences)

array([1, 1])